* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* Navbar */
.navbar {
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #ff9900;
}

.search-box {
    width: 50%;
    display: flex;
}

.search-box input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}

.search-box button {
    background: #febd69;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

/* Hero Section */
.hero {
    height: 300px;
    background: url('https://images.unsplash.com/photo-1523275335684-37898b6baf30') center/cover;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

/* Product Section */
.products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    background: #e3e6e6;
}

.card {
    background: white;
    width: 250px;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0;
}

.card button {
    width: 100%;
    padding: 10px;
    background: #ffd814;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/** footer */
.footer {
    background: #131921;
    color: white;
    padding: 40px 20px 10px;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin: 20px;
}

.footer-section h2,
.footer-section h3 {
    margin-bottom: 15px;
    color: #0eec21;
}

.footer-section p {
    margin: 8px 0;
    cursor: pointer;
}

.footer-section p:hover {
    color: #f0c14b;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid rgb(121, 228, 14);
    margin-top: 20px;
    padding-top: 15px;
    font-size: 14px;
}